* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-padding-top: 74px;
}
body {
	font-family: 'Montserrat', sans-serif;
	background-color: #ebecf2;
}
a {
	text-decoration: none;
}
.blue-text {
	color: #039dff;
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}
.section-title {
	text-align: center;
	text-transform: uppercase;
}
.underline {
	margin: 0 auto 40px;
	width: 60px;
	height: 4px;
	background-color: #039dff;
}
@media (max-width: 500px) {
 
  .top .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
  .top .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
  .top .responsive-cell-block.wk-desk-12.wk-ipadp-12.wk-tab-12.wk-mobile-12.side {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .wk-mobile-1 {
    width: 8.333333%;
  }
  .wk-mobile-2 {
    width: 16.666667%;
  }
  .wk-mobile-3 {
    width: 25%;
  }
  .wk-mobile-4 {
    width: 33.333333%;
  }
  .wk-mobile-5 {
    width: 41.666667%;
  }
  .wk-mobile-6 {
    width: 50%;
  }
  .wk-mobile-7 {
    width: 58.333333%;
  }
  .wk-mobile-8 {
    width: 66.666667%;
  }
  .wk-mobile-9 {
    width: 75%;
  }
  .wk-mobile-10 {
    width: 83.333333%;
  }
  .wk-mobile-11 {
    width: 91.666667%;
  }
  .wk-mobile-12 {
    width: 100%;
  }
}
@media (max-width: 768px) {
 
  .top .responsive-cell-block.wk-desk-12.wk-ipadp-12.wk-tab-12.wk-mobile-12.side {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .top .responsive-container-block.sideImgContainer {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .wk-tab-1 {
    width: 8.333333%;
  }
  .wk-tab-2 {
    width: 16.666667%;
  }
  .wk-tab-3 {
    width: 25%;
  }
  .wk-tab-4 {
    width: 33.333333%;
  }
  .wk-tab-5 {
    width: 41.666667%;
  }
  .wk-tab-6 {
    width: 50%;
  }
  .wk-tab-7 {
    width: 58.333333%;
  }
  .wk-tab-8 {
    width: 66.666667%;
  }
  .wk-tab-9 {
    width: 75%;
  }
  .wk-tab-10 {
    width: 83.333333%;
  }
  .wk-tab-11 {
    width: 91.666667%;
  }
  .wk-tab-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
 
 
  .hero-text h1 {
    font-size: 42px;
  }
  .hero-text p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {

  html {
    scroll-padding-top: 72px;
  }
}
@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }
  .wk-ipadp-2 {
    width: 16.666667%;
  }
  .wk-ipadp-3 {
    width: 25%;
  }
  .wk-ipadp-4 {
    width: 33.333333%;
  }
  .wk-ipadp-5 {
    width: 41.666667%;
  }
  .wk-ipadp-6 {
    width: 50%;
  }
  .wk-ipadp-7 {
    width: 58.333333%;
  }
  .wk-ipadp-8 {
    width: 66.666667%;
  }
  .wk-ipadp-9 {
    width: 75%;
  }
  .wk-ipadp-10 {
    width: 83.333333%;
  }
  .wk-ipadp-11 {
    width: 91.666667%;
  }
  .wk-ipadp-12 {
    width: 100%;
  }
}
